<table class="ui fixed table">
    <thead>
        {{>assessment-header}}
      {{name}}
    </thead>
    <tbody>
    {{#each assessment}}
        {{> assessment-row-with-delete}}
    {{/each}}
    </tbody>
</table>