<table class="ui celled table">
    <thead>
        {{>assessment-header}}
      
    </thead>
    <tbody>
    {{#each assessments}}
        {{> assessment-row-with-delete}}
        
      {{> assessment-table-comment}}
    {{/each}}
      
    </tbody>
</table>