{{> menu id="trainerdashboard"}}

{{#each members}}

  <section class="ui segment">
    </header> {{> analytics}}
    <table class="ui fixed table">
      </tbody>
    </table>
  {{> assessment-table}}

  </section>
{{/each}}


