{{> menu id="trainerdashboard"}}

<section class="ui segment">
  </header> {{> analytics}}
  <table class="ui fixed table">
    </tbody>
</table>
{{> assessment-table}}
{{> addassessment}}
</section>

